@CHARSET "ISO-8859-1";
ul.user_droppable, ul.user_list {list-style:none;min-height:40px;border: 1px solid #CCC;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
ul.user_droppable li, ul.user_list li {	border:1px solid #ccc;border-bottom-color:#bbb;padding:5px 14px 6px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:5px;}
#columns > div.clearfix {cursor:move;}
.highlight {background-color:#FCEEC1;border-color:#E4C652}