@CHARSET "ISO-8859-1";
.page-wrap {	
	width:90%;
}
#board {
	width:100%;
	margin:0 auto;			
	overflow:auto;	
}
#board h2 {	
	margin: 0;
	text-align:center;		
	padding-top:5px;	
    font-family: Lucid,Arial,sans-serif;
    font-size: 28px;        
    text-shadow: none;    
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: -0.3em;
	color: #336699;
}

.column {		
	float:left;			
	text-align:center;	
	min-height:500px;
	padding-top:5px;	
    font-family: Lucid,Arial,sans-serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;	
	color: #222222;
}
.column .title{
	width:100%;
}
.column  .title p{
	display:inline;
}
.column  .title p{	
	padding:0;
	margin:0;
}
.column ul {	
	min-height:450px;
	margin:0px;
	padding:3px;
	height:100%;
	width:100%;	
	overflow: hidden;
}
.column ul li {
	float:left;
	width:95%;	
	list-style:none;
	text-align:center;	
	margin:5px 5px;		
	overflow:hidden;
	min-height: 20px;
}
.task-header {	
	line-height:22px;
	overflow:hidden;
	text-align: center;	
	cursor: move;
	padding: 1px 0;	
}
.task-header div.head_name {
	float:left;
	padding-left: 10px;
}
.task-header span.ui-icon {
	float:right;
	margin-top: 3px;	
	cursor: pointer;
	height: 20px;	
	margin-right:3px;	
}
.task-header div.head_color {
	float:left;
	margin-top: 5px;
	margin-left: 5px;
	width:20px;
	height:12px;
	border: 1px solid grey;
}

div.task-content {		
	padding: 5px;	
	border-top:none;
}

div.task-content * td {	
	padding-left: 2px;
	vertical-align:top;	
}

.not-first-column {
	border-left: 1px dashed #05394e;
}

.red-font {
	color:red;
}

#createTaskForm {
	display:none;
}

#toolbar {	
	padding: 10px 6px;
}
.block-box {
	float:right;
    top:+5px;
    width:17px;
    height:17px;
    cursor:pointer; 
    margin: 3px;    
}
.blocked {			
	background: url('../images/stop.png') no-repeat;
	opacity: .7; 	
}
.not-blocked {
	background: url('../images/stop_greyed.png') no-repeat;
	opacity: .3;    
}
