@CHARSET "ISO-8859-1";
#submit_div { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; text-align: center; padding: 3px; } 
button { margin-top:5px; }
ul.column_list{list-style-type: none;}
ul.column_list li {cursor: move;}