@CHARSET "ISO-8859-1";

#board {
	margin-top:10px;	
	overflow:hidden;		
}
.column {	
	overflow:hidden;
	text-align:center;	
		
}
.column span.title {
	width:100%;
	text-align: center;
}
.column span.title h4 {
	display: inline;		
}
.column ul {		
	list-style: none;	
	min-height: 150px;
}
.column ul li {					
	min-height: 31px;
	margin-bottom: 10px;	
	text-align:left;
	
}
.task-header {				
	cursor: move;				
	background-color:#e6e6e6;
	background-repeat:no-repeat;
	padding:5px 14px 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	color:#333;
	border:1px solid #ccc;
	border-bottom-color:#bbb;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	overflow:auto;	
}
.task-header:hover{
	color:#ffffff;
	background-color:#0064cd;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image:-moz-linear-gradient(top, #049cdb, #0064cd);
	background-image:-ms-linear-gradient(top, #049cdb, #0064cd);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image:-o-linear-gradient(top, #049cdb, #0064cd);
	background-image:linear-gradient(top, #049cdb, #0064cd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color:#0064cd #0064cd #003f81;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.avatar {	
	margin-top: 2px;
	max-height: 16px;
	max-width: 16px;
	margin-right: 5px;
}

div.head_color {		
	width:16px;
	height:12px;
	cursor: default;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

div.create_color {
	padding: 2px 4px;
	margin-right: 5px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;	
}

.column-tag {
	padding: 5px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin: 0px 3px;
	font-weight: bold;
}

/* Functional Stuff */
#createTaskForm {
	display:none;
}

.block-box {
	display:block;
	cursor:pointer;
}
.blocked {			
		
}

.expander{
	
}
.ui-effects-transfer { 
	border: 2px dotted grey;
	background-color:#336699;
	opacity: .4; 
	max-height: 110px;
}