@CHARSET "ISO-8859-1";


body {    
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */    
	font-family:Corbel,Arial,sans-serif;	
	margin: 0; 
}

.head-back {
	margin: 0;
	width:100%;
	height:116px;
	background: #05394e;
	border-top: 2px inset #dfdfdf;
	border-bottom: 2px outset #dfdfdf;	
}

.page-wrap {
	margin:0 auto;
	width:95%;
	position: absolute;
	top:0px;
	margin-left:2.5%;
	font-size: 1.0em;
}
.head {
	width:100%;	
	overflow:hidden;
	height:120px;	
}
.head .logo {	
	position:absolute;
	right:10px;
	top:2px;
	
}
.head span#user p {
	margin-left:20px;
	margin-top: 10px;
	color:#ffffff;
	font-weight:bold;
}
.head_link, 
.head_link:hover, 
.head_link:active, 
.head_link:visited:hover,
.head_link:visited {
	font-weight:bold;
	color:#ffffff;
}

.sub-head {
	height:30px;
	background-color: #b9b9b9;	
}

h1 {
	padding: 5px 0px;
}

h2 {
	padding: 4px;
}
h3 {
	padding: 3px;
}
p {	
	text-align: justify;
	padding: 3px 0;
}
a, a:visited {	
	color:#373737;
}
a:hover, a:visited:hover {
	color:#09597b;	
}

table {
	width:100%;
}
table tr th{
	padding: 5px 5px;
	font-size: 12px;
}
table tr td{
	padding: 3px 4px;
	font-size: 12px;
}

label {
	font-weight:bold;
	font-size: 12px;
}
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #3b3c3c;
}

.odd {
	background-color: #e4e4e4;
}
.highlighted_link {
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
}
.highlighted_link:hover, .highlighted_link:active, .highlighted_link:visited {
	color:#09597b;
}

table.list tr th{
	padding: 5px 5px;
}
table.list tr td{
	padding: 10px 5px;
}
p.meta_description {
	font-style:italic;
	color: #808080;
	font-size:12px;
}