@CHARSET "ISO-8859-1";
table.registration {
	width:500px;
	font-size: .8em;	
}
.avatar-big {
	background: url('../images/default_avatar.jpeg') no-repeat;    
    width: 50px; 
    height: 50px;    
    display: block;
    float: left;
    margin-right:20px;
    overflow: hidden;
}